@import url(style.css);
@import url(style-hdr-ftr.css);
@import url(style-responsive.css);




@media only screen  and (max-width: 1024px) { 


}

@media only screen  and (max-width: 768px) { 
    
    
}

@media only screen  and (max-width: 480px) {
   .h-container-1{
       flex-direction: column;
   }
   
    .logo1-box{
        order:0;
        flex:2;
    }
    .logo-1{
        width:40%;
        margin-bottom: 10px;
    }
    .banner-black-box{
        order: 1;
        flex: 3;
    }
    .banner-black{
        width: 100%;
        margin-right: 0px;
    }
    .nav-headder ul li{
        padding: 0px 2px;
    }
    .nav-font{
        font-size: 14px;
        padding: 5px 8px;
    }

    .f-box1 .logo-footer{
        width: 90%;

    }

    .f-box2{
        margin: 0px 35px 1px -35px;
    }

    footer section h3{
        font-size: 15px;
    }

    .f-box3{
        max-width: 80%;
    }

    .redes-sociais{
        width: 70%;
        margin: 10px 0px -10px 0px;
    }

    .gbr-logo{
        border-left: none;
        padding-left: 0px;
    }

    
}

