@import url(style-hdr-ftr.css);
@import url(style-responsive.css);
@import url(style-responsive-hdr-ftr.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Orbitron", sans-serif    
}
a{
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

body{
    background: linear-gradient(90deg,#9ae588, #dff0a2, #9ae588);  
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.container-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.box-produtos{
    width: 80%;
    background-color: white;
    width: 250px;
    height: 400px; 
    border: 5px solid;
    border-radius: 10px;
    margin: 30px ; 
    margin-bottom: 50px;
    box-shadow: -10px 10px 5px rgb(0 0 0 / 75%);

 }

.box-produtos:hover{
    box-shadow: -15px 20px 20px rgba(0, 0, 0, 0.45);
    transform: scale(1.15);
    transition: 400ms;   
}

.box-produtos div {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.nome-produtos  p{
    padding: 10px 10px 0px 10px;
    font-size: 22px;
    font-weight: bolder;
}

.preço-produtos{
    font-size: 35px;
    font-weight: 900;
    padding: 10px;
}
.preço-black{
    font-size: 15px;
    color: #f7248e;
    text-decoration: line-through;
}

.box-produtos div h6{
    margin-left: 15px;
}
.img-card{
    max-width: 95%;
    border: 6px solid black;
    margin: 7px;
    border-radius: 10px;
}